body {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #0c0c0c;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  font-size: 1rem;
  height: 53px;
  border: none;
  background-color: transparent;
  padding: 0 1.6rem;
  border-radius: 1.6rem;
  margin-top: 3rem;
  cursor: pointer;
  outline: none;
  text-shadow: 1px 1px 0 rgb(36, 35, 35);
  transition: box-shadow ease 250ms;
  border-bottom: 1px solid rgba(22, 22, 22, 0.953);
  border-right: 1px solid rgba(22, 22, 22, 0.953);

  box-shadow: 
    -6px -6px 16px rgba(20, 20, 20, 4),
    6px 6px 16px rgba(0, 0, 0, 4);
}

button:hover {
  box-shadow: 
  -6px -6px 8px rgba(20, 20, 20, 4),
  6px 6px 8px rgba(0, 0, 0, 4);
}

button:active {
  box-shadow: 
    -6px -6px 8px rgba(79, 7, 146, 0),
    6px 6px 8px rgba(18, 1, 34, 0),
    inset -6px -6px 8px rgba(20, 20, 20, 4),
    inset 6px 6px 8px rgba(0, 0, 0, 4);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15em;
  margin-bottom: 2.4em;
  clear: both;
  width: 30%;
  border: none;
  
  border-radius: 1.6rem;
  text-align: center;
  transition: box-shadow ease 250ms;
  border-bottom: 1px solid rgba(22, 22, 22, 0.953);
  border-right: 1px solid rgba(22, 22, 22, 0.953);

  box-shadow: 
  -6px -6px 16px rgba(20, 20, 20, 4),
    6px 6px 16px rgba(0, 0, 0, 4);
}

footer:hover {
  box-shadow: 
  -6px -6px 8px rgba(20, 20, 20, 4),
  6px 6px 8px rgba(0, 0, 0, 4);
}

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.clearfix {
   *zoom: 1;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

#image {
  width: 30%;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 7rem;
  transition: box-shadow ease 250ms;

  border-bottom: 1px solid rgba(22, 22, 22, 0.953);
  border-right: 1px solid rgba(22, 22, 22, 0.953);

  box-shadow: 
  -6px -6px 16px rgba(20, 20, 20, 4),
  6px 6px 16px rgba(0, 0, 0, 4);
}

#image:hover {
  box-shadow: 
  -6px -6px 8px rgba(20, 20, 20, 4),
  6px 6px 8px rgba(0, 0, 0, 4);
}

#createdBy {
  color: rgb(255, 255, 255);
  font-size: 1em;
  text-shadow: 1px 1px 0 rgb(36, 35, 35);
}